@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 8%);
	color: white;
	font-size: 1.1rem;
	font-family: 'Inter', sans-serif;
}

main {
	width: 300px;
	margin: 40px auto;
	border-radius: 10px;
	padding: 20px 40px;
	background-color: hsl(0, 0%, 12%);
	/* display: flex; */
	display: grid;
	justify-items: center;
	justify-content: center;
	text-align: center;
}

.img-cont {
	padding: 20px 0;
}

.img-cont img {
	width: 80px;
	border-radius: 50%;
}

h1 {
	font-size: 1.5rem;
	letter-spacing: 1px;
}

h2 {
	font-size: 1rem;
	padding: 5px 0;
	letter-spacing: 1px;
	color: hsl(75, 94%, 57%);
}

.info p {
	font-size: 1rem;
	padding: 15px 0;
}

.link-handles {
	list-style: none;
	width: 100%;
}

.link-handles li {
	margin: 10px 0;
	padding: 10px 0;
	border-radius: 8px;
	background-color: hsl(0, 0%, 20%);
}

.link-handles a {
	text-decoration: none;
	color: white;
}

.link-handles li a {
	font-weight: bolder;
	text-decoration: none;
	font-size: 1rem;
	transition: ease-in-out;
}

.link-handles li:hover {
	background-color: hsl(75, 94%, 57%);
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.5s;
}

.link-handles a:hover {
	color: hsl(0, 0%, 20%);
}

.attribution {
	font-size: 1rem;
	text-align: center;
	font-weight: bolder;
}

.attribution a {
	text-decoration: none;
	color: hsl(75, 94%, 57%);
	border-radius: 2px;
	padding: 0 3px;
	letter-spacing: 0.5px;
}

.attribution a:hover {
	color: hsl(0, 0%, 20%);
	transition: all 0.5s;
	background-color: hsl(75, 94%, 57%);
	text-decoration: none;
}